<main>
  <div class="home-container">
    <h2>Bem-vindo(a) ao Sistema de Cadastro de Usuários</h2>
    <div class="card-container">
      <div class="card">
        <a href="#/register-user">
          <img src="img/user-plus.svg" alt="icone" />

          <span>Cadastrar novo usuário</span>
        </a>
      </div>
      <div class="card">
        <a href="#/list-users">
          <img src="img/list.svg" alt="icone" />
          <span>Listar usuários</span>
        </a>
      </div>
    </div>
  </div>
</main>
