<main>
  <div class="register-user-container">
    <div class="register-user-content">
      <h2>{{titulo}}</h2>

      <form>
        <div class="register-user-info">
          <input type="text" placeholder="Nome completo" />
          <div class="infoRow">
            <input type="text" placeholder="CPF" />
            <input type="text" placeholder="Telefone" />
          </div>
          <input type="text" placeholder="Email" />
        </div>
        <div class="address">
          <input type="text" placeholder="CEP" />

          <div class="addressRow">
            <input type="text" placeholder="Rua" />

            <input class="addressNumber" type="text" placeholder="N°" />
          </div>

          <input type="text" placeholder="Bairro" />

          <div class="addressRow">
            <input type="text" placeholder="Cidade" />
            <input type="text" placeholder="Estado" />
          </div>
        </div>

        <button class="buttonSubmit" type="submit">Cadastrar</button>
        <button class="buttonBack">Voltar</button>
      </form>
    </div>
  </div>
</main>
