<main>
  <div class="register-user-container">
    <div class="register-user-content">
      <h2>{{titulo}}</h2>

      <form>
        <div class="register-user-info">
          <input type="text" placeholder="Nome completo" ng-model="name" />
          <div class="infoRow">
            <input type="text" placeholder="CPF" ng-model="cpf" />
            <input type="text" placeholder="Telefone" ng-model="phone" />
          </div>
          <input type="text" placeholder="Email" ng-model="email" />
        </div>
        <div class="address">
          <input type="text" placeholder="CEP" ng-model="cep" />

          <div class="addressRow">
            <input type="text" placeholder="Rua" ng-model="street" />

            <input
              class="addressNumber"
              type="text"
              placeholder="N°"
              ng-model="number"
            />
          </div>

          <input type="text" placeholder="Bairro" ng-model="bairro" />

          <div class="addressRow">
            <input type="text" placeholder="Cidade" ng-model="city" />
            <input type="text" placeholder="Estado" ng-model="state" />
          </div>
        </div>

        <button class="buttonSubmit" type="submit">Cadastrar</button>
        <button class="buttonBack">Voltar</button>
      </form>
    </div>
  </div>
</main>
